/* 
 A4纸尺寸：210*297mm 
 */
 html{font-family: "宋体";background:#fff;}
 body{background: #fff;}
.no-print {
    display: none;
}

@page {
    /*margin: 1.5cm 1.5cm 1cm 2cm;*/
    margin: 0;
    size: A4 landscape;
   
}
